@media (max-width: 576px) {
    .pages-content {
        margin: 70px 50px;
    }
    .pages-content h3 {
        font-size: 20px;
    }
    .pages-heading {
        margin-bottom: 40px;
    }
    .pages-picture-section {
        flex-direction: column-reverse;
        gap: 35px;
    }
    .pages-picture-section img {
        width: 100%;
    }
    .pages-side-content {
        text-align: center;
    }
    .pages-side-heading {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .pages-side-description {
        font-size: 12px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .pages-content {
        margin: 50px 150px;
    }
    .pages-content h3 {
        font-size: 20px;
    }
    .pages-heading {
        margin-bottom: 50px;
        font-size: 40px;
    }
    .pages-picture-section {
        flex-direction: column;
    }
    .pages-picture-section img {
        width: 100%;
    }
    .pages-side-content {
        text-align: center;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .pages-content {
        margin: 50px 160px;
    }
    .pages-content h3 {
        font-size: 20px;
    }
    .pages-heading {
        margin-bottom: 50px;
        font-size: 40px;
    }
    .pages-picture-section img {
        width: 400px;
    }
    .pages-side-heading {
        font-size: 18px;
    }
    .pages-side-description {
        font-size: 16px;
    }
}